<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../templates/home/css/home.css">
    <title>home</title>
</head>
<body>

    <div class="navegacao">
        <nav>
            <ul>
                <li class="espacamento"><a href="">Home</a></li>
                <li class="espacamento"><a href="">Projetos</a></li>
                <li class="espacamento"><a href="">Tecnologias</a></li>
                <li class="contato"><a href="">Contatos</a></li>
            </ul>
        </nav>
    </div>
<!--barra de navegacao-->

    <div class="informacoes info-local">
        <p>Olá, eu sou</p>
        <h1>Enzo Moura</h1>
        <p>tenho 18 anos, sou desenvolvedor web</p>
      
        <p class="descricao">Esse é meu portifólio onde estão alguns dos meus projetos <br>
        feitos usando html5, css3 é JavaScript</p>
    </div>

    <div class="informacoes img-local">
        <img src="../templates/home/img/perfil.jpg" alt="">
    </div>
    
</body>
</html>